<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes - Minha ManhwaTeca</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <a href="/" class="back-link">&larr; Voltar para a Lista</a>
        </div>
    </header>

    <main class="container">
        <article class="detalhes-manhwa">
            <div class="detalhes-capa">
                <img src="<%= manhwa.capa %>" alt="<%= manhwa.titulo %>">
            </div>
            <div class="detalhes-info">
                <h1><%= manhwa.titulo %></h1>
                <div class="meta-info">
                    <span><strong>Autor:</strong> <%= manhwa.autor %></span>
                    <span><strong>Status:</strong> <%= manhwa.status %></span>
                    <span><strong>Capítulos:</strong> <%= manhwa.capitulos %></span>
                </div>
                <h2>Links</h2>
                <div class="links">
                    <table>
                        <thead>
                            <tr>
                                <th class="coluna-pequena">Idioma</th>
                                <th>Link</th>
                                <th class="coluna-pequena">Capítulo atual</th>
                                <th>Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            
                            <% manhwa.links.forEach(link => { %>
                                <tr>
                                    <th class="coluna-pequena">
                                        <%= link.idioma %>
                                    </th>
                                    <th> <a href="<%= link.url %>" target="_blank" rel="noopener noreferrer"><%= link.url %></a></th>
                                    <th class="coluna-pequena">
                                        <div class="chapter-control">
                                            <button class="btn-cap" >-</button>
                                            <select name="cap-atual" class="select-invisivel select-cap-atual" data-manhwa-slug="<%= manhwa.slug %>" data-link-url="<%= link.url %>">
                                                <% for( let index = 0; index < link.cap_total; index++ ) { %>
                                                    <option value="<%= index + 1 %>" <% if (index + 1 === link.cap_atual) { %> selected <% } %> ><%= index + 1 %></option>
                                                    <% } %>
                                            </select>
                                            <span class="save-status"></span>
                                            <button class="btn-cap" data-cap-total ="<%= link.cap_total %>">+</button>
                                        </div>
                                        
                                    </th>
                                    <th class="coluna-pequena"><%= link.cap_total %></th>
                                </tr>
                            <% }) %>

                            
                        </tbody>
                    </table>
                </div>
                <div class="action-buttons">
                    <a href="#" id="btn-abrir-modal-link" class="btn-secondary">Adicionar Link</a>
                </div>

                <!-- MODAL PARA ADICIONAR LINK -->
                <div id="modal-adicionar-link" class="modal-overlay">
                    <div class="modal-content">
                        <header class="modal-header">
                            <h2>Adicionar Novo Link</h2>
                            <button id="btn-fechar-modal-link" class="btn-close">&times;</button>
                        </header>
                        
                        <form action="/manhwa/adicionar-link" method="POST" class="form-manhwa">
                            <input type="hidden" name="manhwaSlug" value="<%= manhwa.slug %>">

                            <div class="form-group">
                                <label for="idioma">Idioma</label>
                                <select id="idioma" name="idioma" class="select-invisivel" style="color-scheme: dark;">
                                    <option value="PT">PT</option>
                                    <option value="EN">EN</option>
                                    <option value="ES">ES</option>
                                    <option value="CH">CH</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="url">URL do Link</label>
                                <input type="url" id="url" name="url" placeholder="https://..." required>
                            </div>
                            <div class="form-group">
                                <label for="cap_total">Caps. Totais</label>
                                <input type="number" id="cap_total" name="cap_total" min="1" value="100" required>
                            </div>
                            <button type="submit" class="btn-primary">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <p>&copy; 2025 - Criado por <strong>Álisson</strong> com ❤️ para <strong>Emilin</strong></p>
    </footer>

    <script src="/js/toast.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>