<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes - Minha ManhwaTeca</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <a href="/" class="back-link">&larr; Voltar para a Lista</a>
        </div>
    </header>

    <main class="container">
        <article class="detalhes-manhwa">
            <div class="detalhes-capa">
                <img src="<%= manhwa.capa %>" alt="<%= manhwa.titulo %>">
            </div>
            <div class="detalhes-info">
                <h1><%= manhwa.titulo %></h1>
                <div class="meta-info">
                    <span><strong>Autor:</strong> <%= manhwa.autor %></span>
                    <span><strong>Status:</strong> <%= manhwa.status %></span>
                    <span><strong>Capítulos:</strong> <%= manhwa.capitulos %></span>
                </div>
                <h2>Links</h2>
                <div class="links">
                    <table>
                        <thead>
                            <tr>
                                <th class="coluna-pequena coluna-centralizada">Idioma</th>
                                <th>Link</th>
                                <th class="coluna-pequena coluna-centralizada">Capítulo atual</th>
                                <th>Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            
                            <% manhwa.links.forEach(link => { %>
                                <tr>
                                    <th class="coluna-pequena">
                                        <select name="idioma" class="select-invisivel">
                                            <option value="pt-br" <% if (link.idioma === 'pt-br') { %> selected <% } %> >PT-BR</option>
                                            <option value="en" <% if (link.idioma === 'en') { %> selected <% } %> >EN</option>
                                            <option value="es" <% if (link.idioma === 'es') { %> selected <% } %> >ES</option>
                                        </select>
                                    </th>
                                    <th> <a href="<%= link.url %>">Link</a></th>
                                    <th class="coluna-pequena coluna-centralizada">
                                        <select name="capitulos-1" class="select-invisivel">
                                            <% for( let index = 0; index < link.cap_total; index++ ) { %>
                                                <option value="<%= index + 1 %>" <% if (index + 1 === link.cap_atual) { %> selected <% } %> ><%= index + 1 %></option>
                                            <% } %>
                                        </select>
                                    </th>
                                    <th><%= link.cap_total %></th>
                                </tr>
                            <% }) %>

                            <tr>
                                <th class="coluna-pequena">
                                    <select name="idioma" class="select-invisivel">
                                        <option value="pt-br">&#x1F1E7;&#x1F1F7; PT-BR</option>
                                        <option value="en">🇺🇸 EN</option>
                                        <option value="es">🇪🇸 ES</option>
                                    </select>
                                </th>
                                <th>*link*</th> 
                                <th class="coluna-pequena ">
                                    <select name="capitulos-1" class="select-invisivel">
                                        <option value="1-60">1-60</option>
                                        <option value="1-70">1-70</option>
                                        <option value="1-80">1-80</option>
                                    </select>
                                </th>
                                <th>100</th>
                            </tr>

                            <tr>
                                <th class="coluna-pequena">
                                    <select name="idioma" class="select-invisivel">
                                        <option value="pt-br">PT-BR</option>
                                        <option value="en">EN</option>
                                        <option value="es">ES</option>
                                    </select>
                                </th>
                                <th>*link*</th> 
                                <th class="coluna-pequena coluna-centralizada">
                                    <select name="capitulos-1" class="select-invisivel">
                                        <option value="1-60">1-60</option>
                                        <option value="1-70">1-70</option>
                                        <option value="1-80">1-80</option>
                                    </select>
                                </th>
                                <th>100</th>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="action-buttons">
                    <a href="#" class="btn-secondary">Adicionar Link</a>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <p>&copy; 2025 - Criado por <strong>Álisson</strong> com ❤️ para <strong>Emilin</strong></p>
    </footer>

</body>
</html>