<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha ManhwaTeca</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">
            <h1>ManhwaTeca</h1>
            <nav>
                <a href="#a" class="btn-abrir-modal btn-primary">Adicionar Manhwa</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="grid-manhwas">

            <% if (manhwas && manhwas.length > 0) { %>
                <% manhwas.forEach(manhwa => { %>
                    <a href="/manhwa/<%= manhwa.slug %>" class="manhwa-card">
                        <img src="<%= manhwa.capa %>" alt="<%= manhwa.titulos[0] %>">
                        <div class="card-info">
                            <h3><%= manhwa.titulos[0] %></h3>
                    <div class="tags">
                        <span class="tag status-lendo"><%= manhwa.status %></span>
                        <% manhwa.tags.forEach(tag => { %>
                            <span class="tag"><%= tag %></span>
                        <% }) %>
                    </div>
                </div>
            </a>
            
                <% }); %>
            <% } else { %>
                <p>Nenhum manhwa cadastrado ainda.</p>
            <% } %>
            
        </section>

        <!-- MODAL DE FORMULÁRIO -->
        <%- include('partials/modal-manwha', {
            modalTitulo: "Adicionar Novo Manhwa",
            actionForm: "/adicionar",
            textBotao: "Salvar Manhwa",
            manhwa: null
        }) %>


    </main>

    <a href="#adicionar" class="fab btn-abrir-modal">+</a>

    <footer>
        <p>&copy; 2025 - Criado por <strong>Álisson</strong> com ❤️ para <strong>Emilin</strong></p>
    </footer>

    <script src="/js/toast.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>